@model EmployeeMVC.Models.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}



<div class="container mb-1">
    <div class="row justify-content-center">
        <div class="col-6">
            @if(Model !=null && Model.Tags.Any())
            {
                foreach(var tag in Model.Tags)
                {
                    <span class="badge bg-dark me-1">
                        @tag.Name
                    </span>
                }
            }
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            @if(Model !=null && Model.BlogPosts.Any())
            {
                foreach(var blog in Model.BlogPosts)
                {
                    <div class="mb-5 bg-light box-shadow">
                        <img src="~/Images/@blog.FeaturedImageUrl"
                        alt="@blog.Heading"
                        class="mb-2 d-block img-fluid" />

                        <h2 class="mb-4">@blog.Heading</h2>
                        <p class="mb-4">
                            Author: @blog.Author
                            <br />
                            Published Date: @blog.PublishedDate.ToShortDateString()
                        </p>

                        <p class="mb-4">
                            @foreach(var tag in blog.Tags)
                            {
                                <span class="badge bg-secondary me-1">@tag.Name</span>
                            }
                        </p>

                        <p class="mb-4">@blog.ShortDescription</p>

                        <a class="btn btn-dark"
                            asp-action="Index"
                            asp-controller="Blog"
                            asp-route-urlHandle="@blog.UrlHandle"
                        >Read More</a>
                    </div>
                }
            }
        </div>
    </div>
</div>
