@model EmployeeMVC.Models.ViewModels.HomeViewModel

﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> signinManager

@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout2";
}

@section Styles {
    <link rel="stylesheet" href="~/css/BlogPage.css" />
}



<div class="below-content">
    <div class="sidebar">
        <ul>
            @if (signinManager.IsSignedIn(User) && User.IsInRole("Admin"))
            {

         
                <a class="sideoption" asp-area=""
                   asp-controller="Home"
                   asp-action="Notifications">
                    <span id="notificaton-count">@Model.UnreadCount</span>
                   <span class="icons" > <i class="bi bi-bell-fill"></i></span><span class="new">New Users</span>
                    <span class="unread-count" id="unread-count"></span>
               </a>
                <a class="sideoption" asp-area=""
                   asp-controller="AdminTags"
                   asp-action="Add"><span class="icons"><i class="bi bi-tags"></i></span><span class="new">Add Tags</span></a>
                <a class="sideoption" asp-controller="AdminTags"
                   asp-action="List"><span class="icons"><i class="bi bi-card-checklist"></i></span><span class="new">All Tags</span></a>

                <a class="sideoption" asp-controller="AdminUsers"
                   asp-action="List"><span class="icons"><i class="bi bi-person-lines-fill"></i></span><span class="new">All Users</span></a>

                <a class="sideoption" asp-controller="AdminBlogPosts"
                   asp-action="Add"><span class="icons"><i class="bi bi-journal"></i></span><span class="new">Add Blogs</span></a>


                <a class="sideoption" asp-controller="AdminBlogPosts"
                   asp-action="List"><span class="icons"><i class="bi bi-list-check"></i></span><span class="new">All Blogs</span></a>


                <a class="sideoption" asp-controller="Account"
                   asp-action="Logout"><span class="icons"><i class="bi bi-box-arrow-left"></i></span><span class="new">Logout</span></a>


            }



            else
            {
                <a class="sideoption" asp-controller="AdminBlogPosts"
                   asp-action="Add"><span class="new"><span class="icons"><i class="bi bi-journal"></i></span>Add Blogs</span></a>


                <a class="sideoption" asp-controller="AdminBlogPosts"
                   asp-action="List"><span class="new"><span class="icons"><i class="bi bi-person-lines-fill"></i></span>All Blogs</span></a>

                <a class="sideoption" asp-controller="Account"
                   asp-action="Logout"><span class="new"><span class="icons"><i class="bi bi-box-arrow-left"></i></span>Logout</span></a>

            }
        </ul>
    </div>


    <div class="mainContent">


        @if (Model != null && Model.BlogPosts.Any())
        {
            foreach (var blog in Model.BlogPosts)
            {

                <div class="mainpart">
                    <div class="image-section">
                        <img src="~/Images/@blog.FeaturedImageUrl" alt="@blog.Heading" />
                    </div>

                    <div class="details-section">
                        <h2 class="blog-title">@blog.Heading</h2>
                        <div class="auth">
                            <p class="ms-1">@blog.Author</p>
                            <p class="me-3">@blog.PublishedDate.ToShortDateString()</p>
                        </div>

                        <p>

                            @foreach (var tag in blog.Tags)
                            {
                                <span class="badge bg-secondary ms-1 me-1">@tag.Name</span>

                            }
                        </p>

                        <p class="summary">
                            @blog.ShortDescription

                        </p>

                        <a class="btn ms-2  btn-dark"
                           asp-action="Index"
                           asp-controller="Blog"
                           asp-route-urlHandle="@blog.UrlHandle">Read More</a>
                    </div>
                </div>
            }
        }



    </div>
</div>


@section scripts {
    <script>
        $(document).ready(function () {
            function updateNotificationCount() {
                $.get('/Home/UnreadCount', { timestamp: new Date().getTime() }, function (data) {
                    $('#notification-count').text(data.count);
                }).fail(function () {
                    console.log('Failed to retrieve notification count.');
                    $('#notification-count').text('Error'); // Display error message
                });
            }

            // Update notification count on page load
            updateNotificationCount();

            // Set up a timer to periodically update the count
            setInterval(updateNotificationCount, 5000); // Update every 5 seconds
        });

    </script>
}