@model EmployeeMVC.Models.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <link rel="stylesheet" href="~/css/BlogPage.css" />
}



<div class="view">
    <div class="container mb-1">
        <div class="row justify-content-center">
            <div class="col-6">

                @if (Model != null && Model.Tags.Any())
                {
                    foreach (var tag in Model.Tags)
                    {
                        <span class="badge bg-dark me-1">
                            @tag.Name
                        </span>
                    }
                }

            </div>
        </div>
    </div>

    <div class="page">

        @if (Model != null && Model.BlogPosts.Any())
        {
            foreach (var blog in Model.BlogPosts)
            {

                <div class="mainPart">
                    <div class="image-sec">
                        <img src="~/Images/@blog.FeaturedImageUrl" alt="@blog.Heading" />


                    </div>

                    <h2 class="blog-title">@blog.Heading</h2>
                    <div class="auth-date">
                        <p class="ms-1">@blog.Author</p>
                        <p class="me-3">@blog.PublishedDate.ToShortDateString()</p>
                    </div>

                    <p class="ms-2">

                        @foreach (var tag in blog.Tags)
                        {
                            <span class="badge bg-secondary ms-1 me-1">@tag.Name</span>

                        }
                    </p>

                    <p class="blog-summary">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur veniam tempore ipsa quibusdam nulla minima laborum minus magni voluptatum commodi reiciendis, impedit vitae culpa aliquid expedita, dolorum esse dolorem nemo?
                    </p>

                    <a class="btn ms-2  btn-dark"
                       asp-action="Index"
                       asp-controller="Blog"
                       asp-route-urlHandle="@blog.UrlHandle">Read More</a>
                </div>
            }
        }



    </div>
</div>
