@model EmployeeMVC.Models.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <link rel="stylesheet" href="~/css/BlogPage.css" />
}



<div class="below-content">
    <div class="sidebar">
        <ul>
            <a class="sideoption"><span class="new"><span class="icons"><i class="bi bi-tags"></i></span>Add Tags</span></a>
            <a class ="sideoption" href=""><span class="new"><span class="icons"><i class="bi bi-journal"></i></span>Add Blogs</span></a>
            <a class="sideoption"  href=""><span class="new"><span class="icons"><i class="bi bi-person-add"></i></span>Add Users</span></a>
            <a class="sideoption"  href=""><span class="new"><span class="icons"><i class="bi bi-person-lines-fill"></i></span>All Users</span></a>
            <a class="sideoption"  href=""><span class="new"><span class="icons"><i class="bi bi-card-checklist"></i></span>All Tags</span></a>
        </ul>
    </div>
   

    <div class="mainContent">


        @if (Model != null && Model.BlogPosts.Any())
        {
            foreach (var blog in Model.BlogPosts)
            {

                <div class="mainpart">
                    <div class="image-section">
                        <img src="~/Images/@blog.FeaturedImageUrl" alt="@blog.Heading" />
                    </div>

                    <div class="details-section">
                        <h2 class="blog-title">@blog.Heading</h2>
                        <div class="auth">
                            <p class="ms-1">@blog.Author</p>
                            <p class="me-3">@blog.PublishedDate.ToShortDateString()</p>
                        </div>

                        <p >

                            @foreach (var tag in blog.Tags)
                            {
                                <span class="badge bg-secondary ms-1 me-1">@tag.Name</span>

                            }
                        </p>

                        <p class="summary">
                            @blog.ShortDescription
                          
                        </p>

                        <a class="btn ms-2  btn-dark"
                           asp-action="Index"
                           asp-controller="Blog"
                           asp-route-urlHandle="@blog.UrlHandle">Read More</a>
                    </div>
                </div>
            }
        }



    </div>
</div>

