@model List<EmployeeMVC.Models.Domain.BlogPost>

@{
    ViewData["Title"] = "Home Page";
}

<div class="container col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-5 py-5">
        <div class="col-12 col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">
                BloggingBlogsss - The Dev Blog
            </h1>

            <p class="lead">
                BloggingBlogsss is the home for all the people that love
                sharing their experiences in any field. Everyone from any
                background is welcome to express themselves in their blogs
                in this platform. I Welcome you all 🙇💐.
            </p>
        </div>      


        <div class="col-12 col-lg-6">
            <img src="~/Images/bblogs.jpg"
            alt="Dev Blogs"
            class="d-block mx-lg-auto img-fluid"
            width="300px" />
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            @if(Model !=null && Model.Any())
            {
                foreach(var blog in Model)
                {
                    <div class="mb-5 bg-light box-shadow">
                        <img src="~/Images/@blog.FeaturedImageUrl"
                        alt="@blog.Heading"
                        class="mb-2 d-block img-fluid" />

                        <h2 class="mb-4">@blog.Heading</h2>
                        <p class="mb-4">
                            Author: @blog.Author
                            <br />
                            Published Date: @blog.PublishedDate.ToShortDateString()
                        </p>

                        <p class="mb-4">
                            @foreach(var tag in blog.Tags)
                            {
                                <span class="badge bg-secondary me-1">@tag.Name</span>
                            }
                        </p>

                        <p class="mb-4">@blog.ShortDescription</p>

                        <a class="btn btn-dark"
                            asp-action="Index"
                            asp-controller="Blog"
                            asp-route-urlHandle="@blog.UrlHandle"
                        >Read More</a>
                    </div>
                }
            }
        </div>
    </div>
</div>
